* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif; 
  
}


/* .cursor {
  pointer-events: none;
}

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor__ball circle {
  fill: #f7f8fa;
}

.left, .right {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */



/* @media screen and (max-width: 960px) {
  body {
    overflow-x: hidden;
} */




section{
  background-color: #1b1a1f;
}

.container{
  margin: 0 100px;
  width: 100%;
}

h5,h3{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular 400;
    font-style: normal;
}

.navbar {
  background: #131313;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: transparent;
  Z-index: 10;
  /* z-index: 999; */
  border-bottom: 1px solid #9690a259;
}

.navbar__container {
  display: flex;
  position: sticky;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  
}

#navbar__logo {
  padding-top: 12px;
  color: white;
  /* background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%); */
  background-size: 100%;
  /* -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; */
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  
}

.navbar__menu .style1{
  padding-right:120px
}

.navbar__menu .style2{
  padding-left: 120px;
}

.navbar__item {
  height: 80px;
  width: 100%;
  white-space: nowrap;
}

.navbar__links {
  color: #ffffffbf;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-family: "Roboto", sans-serif;  
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #d90a2c;
  color: #fff;
}

.button:hover {
  background: #4837ff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #d90a2c;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar {
    justify-content: space-between;
}

  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu .style1{
    padding-right:0px
  }
  
  .navbar__menu .style2{
    padding-right: 70px;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 10px;
    padding-bottom: 30px;
    position: static;
    transform: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* hero section css */
.main__container {
  height: 100vh;
  background-image: url('images/bg1.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  text-align: left;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 25%;
  margin: 0 auto;
  width: 100%;
  /* padding-left: 50px; */
  font-family: lato;
}

.main__container h1{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 4rem;
}


.main__container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Same overlay as the navbar */
  z-index: 1;
}

.main__content{
  position: relative;
  z-index: 2;
  width: 100%;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .main__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    align-items: left;
    padding-top: 100%;
    margin: 0px auto;
    padding-left: 0px;
  }
  .main__container h1{
    font-size: 2rem;
    width: 100%;
  }
  .main__content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.intro-style{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 100px 200px;

}

.intro-text h3{
  text-align: left;
  color: #fff;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  word-spacing: 3px;
  letter-spacing: 3px;
  font-weight: 700;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  .intro-text h3 {
    font-size: 15px;
    padding: 0px;
  }
  .intro-style{
    padding: 30px 10px;
  }
}

.gallery-title{
  margin: 0px 100px;
  padding: 100px 0px 15px 0px ;
  color: #fff;
}

.image-category{
  display: flex;
  align-self: center;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  margin: 0 100px;
  padding-bottom: 0px 30px;
}

@media screen and (max-width:480px) {
  .image-category{
    margin: 0px 0px ;
    flex-wrap: wrap;
    padding: 0px 10px;

  }
}

.image-category img{
  width: 24.5%;
  height: 200px;
  object-fit: cover;
}


.image-category h3{
  padding-top: 5px;
  text-align: left;
  width: 50%;
  color: white;
}

.image-category-line{
  color: gray;
  padding-left: 60px;
  /* padding-top: 20px;; */
  margin: 0px;
  height: 2px;
}

.showcase-gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  padding: 0px 100px;
  margin-top: 0px;
  padding-top: 0px;
  column-gap: 100px;
}

.showcase-gallery-image{
  width: 100%;
}

.showcase-gallery-image.one{
  height: 600px;
  object-fit: cover;
}

.showcase-gallery-image.three{
  height: 450px;
  object-fit: cover;
}

.showcase-gallery-image.five{
  height: 300px;
  object-fit: cover;
}

.about-us-text{
  color: white;
  padding: 100px 0px 30px 100px
}

.about-us-description{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  /* justify-content: flex-start; */
  align-items: center;
  margin: 0px 100px;
  /* height: 350px;
  width: 100%; */
  column-gap: 100px;
  
}

.about-us-description img{
  height: 500px;
  width: 100%;
  object-fit: cover;

}

.about-us-description p{
  width: 100%;
  font-size: 17px;
  color: white;
}

.about-us-small-tag{
  font-weight: lighter;
}

.mini-navbar{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 100px 0px;
  width: 100%;
}

.mini-navbar-content-container{
  border: 2px solid white;
  padding: 0px 50px;
  /* width: 100% */
}

.mini-navbar-content{
  align-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  color: white;
  width: 100%
  /* padding: 0px 50px; */
  /* border: 3px solid white; */
}

.mini-navbar-content:hover{
  color: red;
}

.mini-navbar-content-text{
  text-align: center;
  color: white;
  width: 100%;
}

@media(max-width: 768px) {
  .mini-navbar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
 
}

.picture-divider-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; 
  color: white;
  width: 100%;
  
}
.picture-divider{
justify-content: center;
background-image: url(images/wedding2.jpg);
background-size: cover;
width: 100%;
height: 350px;
opacity: 0.5;
padding: 0px 0px 100px 0px;
/* background: rgba(57, 57, 57, 0.5);
opacity: 1; */
}

.picture-divider-text{
  padding: 30px 0px 240px 15px;
  opacity: 1;
  /* background: rgba(63, 63, 63, 0.5);
  inset: 0;
  opacity: 1; */
}

.picture-divider-text h3{
  font-weight: 500;
  opacity: 1;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 10px;
  color: white;
}

.t1 {
  flex: 1;
  align-self: flex-start
}

.t2 {
  flex: 2;
}

.testimonial-item {
  width: 100%;
  height: 500px;
  display: none; /* Initially hide all testimonials */
}

.testimonial-item.active {
  display: block; /* Show only the active testimonial */
}

.testimonial-img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.indicators{
  float: left;
  align-self: flex-start;
}

.testimonial-arrow {
  cursor: pointer;
  font-size: 30px;
  color: white;
  float: left;

  /* align-self: flex-start;

  /* position: absolute; */
  /* transform: translateY(-1%);
  transform: translateX(100%);  */
}

.left-arrow {
  left: 50px;  
}

.right-arrow {
  right: 10px;
}

.contents-wraper .indicators .dot {
  width: 15px;
  height: 15px;
  margin: 0px 3px;
  border: 3px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.contents-wraper .indicators .active {
  background-color: #50c9c3;
}

.masonry {
  padding: 0px 100px;
  margin-bottom: 0; 
}

.masonry-gallery {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-rows: 20px; */
  grid-auto-rows: minmax(300px, auto); /*Ensures rows are evenly distributed*/
  justify-content: center;
  margin-bottom: 0;
}

.masonry-gallery-item {
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden; /* Prevent overflow of content */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #fff;
  height: 80%;
  margin-bottom: 0px;
  padding-bottom: 0px
}

.masonry-gallery-item-lg {
  grid-column: span 2;
}

.masonry-gallery-item img {
  object-fit: cover;
  width: 100%;
  height: 100%; /* Make sure all images take up full height */
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  vertical-align: top;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Remove extra space for last item */
.masonry-gallery-item:last-child {
  margin-bottom: 0;
}

form, input, select, label {
  margin: 0;
  padding: 0;
}

.contact-container{
  display: grid ;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr  1fr;
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: stretch; 
  margin: 0px 100px;
  color: #ffffffbf;
  padding-bottom: 150px;
  margin-bottom: 0px;
}

.contact-intro{
  padding-bottom: 50px;
}

.contact-child1{
  /* flex: 3;
  align-self: flex-start; */
  width: 100%;
}

.contact-child2{
  /* flex: 1;
  width: 100%; */
}

.contact-child1, .contact-child2 {
  margin-bottom: 0px;
  padding: 0;
}

.form-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0px;
  width: 100%;
  /* display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 2fr;
  width: 100%;
  gap: 0px; */
  
}

.form-grid1{
  align-self: flex-start;
  width: 100%;
  
  /* margin: 0;
  padding: 0;
   */
}

.form-grid2{
  
  align-self: flex-start;
  width: 100%;

}

input{
  background-color: rgba(150, 144, 162, 0.08);
  border: 0px;
  border-color: transparent;
  height: 40px;
  width: 70%;
}

section {
  margin: 0;
  padding: 0; /* Remove section padding if any */
}

form {
  margin-bottom: 0;
}


.footer{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0px 100px;
  gap: 10px;
  color: white;
}

.footer-item{
  align-items: center;
  width: 100%;

}
@media (max-width: 768px){
  .footer{
    flex-wrap: wrap;
  }
}